.app-navbar {
  position: relative;
  z-index: var(--z-app-navbar);
  height: var(--app-navbar-height);
  width: 100%;
  background-color: var(--col-dark-tone-ink);
}

.app-navbar__container {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: to-rem(16);

  @include respond-above(tablet) {
    justify-content: space-between;
    font-size: to-rem(18);
  }
}

.app-navbar__logo-link {
  flex-shrink: 0;
}

.app-navbar__logo {
  &--large {
    display: none;

    @include respond-above(tablet) {
      display: inline-flex;
    }
  }

  &--small {
    display: inline-flex;
    margin-right: to-rem(15);

    @include respond-above(tablet) {
      display: none;
    }
  }
}

.app-navbar__divider {
  flex: 1 1 0;
  display: inline-flex;
  width: 0;
  max-width: 0;
  // height: inherit;
  // min-height: 100%;
  max-height: 100%;
  align-self: stretch;
  border-width: 0 thin 0 0;
  border-style: solid;
  border-color: var(--app-navbar-burger-btn-bg);
  margin: to-rem(10) -#{to-rem(1)};
  vertical-align: text-bottom;

  @include respond-above(tablet) {
    display: none;
  }
}

.app-navbar__nav-list {
  display: none;

  @include respond-above(tablet) {
    display: flex;
    align-items: center;
  }
}

.app-navbar__nav-list-item {
  &:not(:last-child) {
    margin-right: to-rem(40);
  }

  button {
    text-transform: uppercase;
    transition: color var(--hover-transition);

    @include hover {
      color: var(--col-tibetan-yellow);
    }
  }
}

.app-navbar__sign-up-btn {
  margin-left: auto;

  @include respond-above(tablet) {
    margin-left: 0;
  }
}

.app-navbar__burger-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: to-rem(40);
  height: to-rem(40);
  margin-left: to-rem(15);
  padding: to-rem(10);
  background-color: var(--app-navbar-burger-btn-bg);
  border-radius: to-rem(4);

  @include respond-above(tablet) {
    display: none;
  }
}

.app-navbar__burger-btn-content {
  display: inline-block;
  width: 100%;
  position: relative;
}

.app-navbar__burger-btn-block {
  &,
  &:before,
  &:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: to-rem(2);
    border-radius: to-rem(4);
    background-color: var(--col-tibetan-yellow);
    transition: top var(--hover-transition), transform var(--hover-transition);
  }

  &:before {
    top: -#{to-rem(6)};
    content: '';
  }

  &:after {
    top: #{to-rem(6)};
    content: '';
  }

  .app-navbar__burger-btn--is-open & {
    transform: rotate(45deg);

    &:before {
      top: 0;
      transform: rotate(0);
    }

    &:after {
      top: 0;
      transform: rotate(90deg);
    }
  }
}
