.main {
  --padding: #{clamp(to-rem(22), vh(3.5), to-rem(32))};

  display: flex;
  align-items: stretch;
  height: calc(100% - var(--app-navbar-height));
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @include bg-img-webp('/img/bg/small-ver');

  @include high-resolution-screen {
    @include bg-img-webp('/img/bg/small-ver@2x');
  }

  @media (orientation: landscape) {
    @include bg-img-webp('/img/bg/small-hor');

    @include high-resolution-screen {
      @include bg-img-webp('/img/bg/small-hor@2x');
    }
  }

  @include respond-above(tablet) {
    @include bg-img-webp('/img/bg/tablet');

    @include high-resolution-screen {
      @include bg-img-webp('/img/bg/tablet@2x');
    }
  }

  @include respond-above(xmedium) {
    @include bg-img-webp('/img/bg/medium');

    @include high-resolution-screen {
      @include bg-img-webp('/img/bg/medium@2x');
    }
  }

  @include respond-above(large) {
    @include bg-img-webp('/img/bg/large');

    @include high-resolution-screen {
      @include bg-img-webp('/img/bg/large@2x');
    }
  }
}

.main__container {
  display: flex;
  align-items: center;

  @media (orientation: landscape) {
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @media (orientation: portrait) {
    flex-direction: column;
  }
}
