<section class="bonuses-section js-bonuses-section">
  <div class="bonuses-section__title-wrapper">
    <h3 class="bonuses-section__title">Tentativas restantes:</h3>
    <span class="bonuses-section__tries js-bonus-tries">2</span>
  </div>
  <div class="bonuses-section__bottom-row">
    <div
      class="bonuses-section__bonus-wrapper bonuses-section__bonus-wrapper--first"
    >
      <p>Bônus nº 1</p>
      <picture class="bonuses-section__bonus-img">
        <source
          type="image/webp"
          srcset="/img/bonus-1.webp 140w, /img/bonus-1@2x.webp 280w"
          sizes="140px"
        />
        <source
          type="image/png"
          srcset="/img/bonus-1.png 140w, /img/bonus-1@2x.png 280w"
          sizes="140px"
        />
        <img
          src="/img/bonus-1.png"
          width="140"
          height="140"
          alt=""
          loading="lazy"
        />
      </picture>
    </div>
    <div
      class="bonuses-section__bonus-wrapper bonuses-section__bonus-wrapper--second"
    >
      <p>Bônus nº 2</p>
      <picture class="bonuses-section__bonus-img">
        <source
          type="image/webp"
          srcset="/img/bonus-2.webp 140w, /img/bonus-2@2x.webp 280w"
          sizes="140px"
        />
        <source
          type="image/png"
          srcset="/img/bonus-2.png 140w, /img/bonus-2@2x.png 280w"
          sizes="140px"
        />
        <img
          src="/img/bonus-2.png"
          width="140"
          height="140"
          alt=""
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
